html,
body {
    width: 100%;
    height: 100%;
    background-image:url(https://www.publicdomainpictures.net/pictures/10000/velka/1-1229067873MKhd.jpg);
    background-size: cover;
    background-attachment:fixed;
    margin: 0;
    padding: 0;
    }

#container {
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr 3fr;

  height: 100%;
  display: grid;
}

#header {
  grid-column-start: 1;
  grid-column-end: 3;

  background-color: rgb(116, 243, 13);
  border-radius: 40%;
  margin: 10px;
  padding: 10px;
  text-decoration: underline;
  font-size: 4em;
  font-family: inherit;
  text-align: center;
}

#content {
  margin: 5px;
  padding: 5px;
} 


#header:hover {
background-color:navy;
color:white



}

/* Sidebar styling */
.sidebar-button {
  width: 90%;
  border: 1px black solid;
  margin: 2px;
  margin: 15px; 
  background-color:rgb(116, 243, 13);
  font-size:16px;
  padding: 6px 0;
  border-radius: 50%;
}

.sidebar-button:hover {
background-color:navy;
color:white;


}



#sidebar {
 
}
.profile {
width: 300px; 
border-radius:15px; 
vertical-align:top; 
float: left;
margin-right:10px; 
} 
#content p a:link { 
text-decoration: underline; 



}
#content p{
vertical-align:top;  
font-size: 23px;



}  


#lajay {
font-family: cursive;


} 

#kamala {
font-family: cursive;

} 

#michelle {
font-family: cursive;

} 

#janet {
font-family: cursive;

}  


